<li class="nav-item">
    <a class="nav-link {{ is_subpath('cv.admin.index') ? 'active' }}" href="{{ path('cv.admin.index') }}">C.V.</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('cv.category.admin.index') ? 'active' }}" href="{{ path('cv.category.admin.index') }}">Catégories</a>
</li>