<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ cv }}</h4>
            <p class="card-text">C.V.</p>
            <a class="btn btn-primary" href="{{ path('cv.admin.index') }}">Gérer les C.V.</a>
        </div>
    </div>
</div>