<li class="nav-item">
    <a class="nav-link {{ is_subpath('portfolio.admin.index') ? 'active' }}" href="{{ path('portfolio.admin.index') }}">Portfolio</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('portfolio.types.admin.index') ? 'active' }}" href="{{ path('portfolio.types.admin.index') }}">Types</a>
</li>