{% extends '@admin/layout.twig' %}

{% block title "Création d'une compétence" %}

{% block body %}
    <h1>Créer une nouvelle compétence.</h1>

    <a href="{{ path('cv.admin.show', {slug: slug}) }}" class="btn btn-secondary">Annuler</a>

    <form action="{{ path(routePrefix ~ '.create', {slug: slug}) }}" method="post" enctype="multipart/form-data">

        {% include viewPath ~ '/form.twig' %}

        <button class="btn btn-primary" type="submit">Ajouter</button>

    </form>

{% endblock %}