{% extends '@admin/layout.twig' %}

{% block title "Création d'un type" %}

{% block body %}
    <h1>Créer un nouveau type</h1>

    <form action="{{ path(routePrefix ~ '.create') }}" method="post">

        {% include viewPath ~ '/form.twig' %}

        <button class="btn btn-primary" type="submit">Ajouter</button>

    </form>

{% endblock %}