{% extends 'layout.twig' %}

{% block body %}

    <h1>{{ page.title }}</h1>

    <p>
        {{ page.content }}
    </p>

    <h1>Citation du jour</h1>
    <blockquote>
        <p>{{ item.proverb }}</p>
        <br>
        <cite>- De {{ item.proverbAuthor }}.</cite>
    </blockquote>

    <!--
    <h1>Texte de test</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et turpis orci. Integer id enim bibendum, consectetur enim sed, fermentum turpis. Quisque sem ligula, aliquet quis massa condimentum, fermentum blandit nisi. Cras non consequat nulla. Fusce tristique, velit id convallis imperdiet, sem justo pulvinar felis, vel aliquam leo purus facilisis augue. Donec risus tellus, consectetur vitae orci vel, vulputate dapibus ante. Sed et mattis lorem, eu tempus sapien.
    </p>

    <p>
        Cras dictum ipsum quis neque eleifend, vel bibendum massa luctus. In ac tempus nisi, ut faucibus tellus. Duis bibendum, lacus quis maximus fringilla, tellus massa fringilla risus, vel imperdiet ex dui non ex. Suspendisse vitae orci sed ipsum varius convallis sed vitae metus. Etiam in massa mattis urna dictum ultrices a ac justo. Cras luctus blandit imperdiet. Cras quis dignissim nunc. Sed non magna ex. Vestibulum vitae tristique justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut et scelerisque dolor.
    </p>
    -->

{% endblock %}