{% extends 'layout.twig' %}

{% block body %}

    <h1>{{ page.title }}</h1>

    <!-- TODO Des témoignage pour me présenter ? trouver un truc  -->
    <p>
        {{ page.content }}
    </p>

    <!-- TODO creer un bouton avec requete AJAX pour changer de proverbe  -->
    <h1>Générateur de proverbes</h1>
    <blockquote>
        <p>{{ item.proverb }}</p>
        <br>
        <cite>- De {{ item.proverbAuthor }}.</cite>
    </blockquote>

{% endblock %}