{% extends '@admin/layout.twig' %}

{% block title "Edition d'une catégorie" %}

{% block body %}
    <h1>Éditer la catégorie {{ item.Cname }}</h1>

    <form action="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" method="post">

        {% include viewPath ~ '/form.twig' %}

        <button class="btn btn-primary" type="submit">Éditer</button>

    </form>

{% endblock %}